/* Sidebar */
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --btn-hover: #f6d51f;
    --main-color: #fff;
    --theme-color: #0e2238;
    --font-green: #006b21;
    --bg-green: #86e49d;
    --font-red: #b30021;
    --bg-red: #d893a3;
    --bg-blue: #6fcaea;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: var(--theme-color);
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin: 1rem 1rem;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: var(--main-color);
}

#toggle-btn i:hover {
    color: var(--btn-hover);
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo p {
    margin: auto 0;
    color: var(--main-color);
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.3rem;
    color: var(--main-color);
    display: block;
    font-size: 1rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none;
}

.sidebar-link i {
    font-size: 1.5rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid var(--btn-hover);
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* Sidebar */


/* Badges */
.status {
    min-width: 9rem;
}

.status.warning {
    background-color: var(--btn-hover);
}

.status.running {
    background-color: var(--bg-blue);
    color: var(--theme-color);
}

.status.fail {
    background-color: var(--bg-red);
    color: var(--font-red);
}

.status.pass {
    background-color: var(--bg-green);
    color: var(--font-green);
}

/* Badges */

/* Table customization */
.table-wrapper {
    height: 65vh;
    border-radius: .2rem;
    overflow: auto;
    text-align: center;
}

.table-wrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table-wrapper::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table-wrapper:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.card-header i,
thead tr i {
    font-size: 1.2rem;
    padding-right: .5rem;
}

tbody a {
    text-decoration: none;
    color: var(--theme-color);
}


/* Table customization */

/*  Responsive Table  */
@media screen and (max-width: 900px) {
    table {
        border: 0;
    }

    table thead {
        visibility: collapse;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }

    table td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

/*  Responsive Table  */

/*  Fullscreen Table height adjustment  */
@media all and (display-mode: fullscreen) {
    .table-wrapper {
        height: 100vh;
        border-radius: .2rem;
        overflow: auto;
        text-align: center;
    }
}

/*  Fullscreen Table height adjustment  */

/* Fullscreen button */
.full-screen {
    opacity: 70%;
    transition: .1s ease-in-out;
    background-color: var(--theme-color);
    border-color: var(--main-color);
    border-radius: 25%;
    cursor: pointer;
}

.full-screen:hover {
    opacity: 100%;
    transition: all 0.3s;
}

.full-screen--close {
    display: none
}

:fullscreen .full-screen--open {
    display: none;
}

:fullscreen .full-screen--close {
    display: block;
}

/* Fullscreen button */

/* Misc */
.landing-page ul li {
    display: inline;
    font-size: 5vw;
}

.landing-page p {
    letter-spacing: 2vw;
}

@media screen and (max-width: 910px) {
    .landing-page ul li {
        display: none;
    }
}

.construction {
    color: var(--theme-color);
    display: flex;
    justify-content: center;
    font-size: 5vw;
}

.blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

#custom-btn {
    background-color: var(--theme-color); 
    color: var(--main-color);
}

#custom-btn i {
    font-size: 1rem;
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
    display: inline-block;
}

#custom-btn:hover i {
    transform: rotate(-180deg);
    transform-origin: center;
    color: var(--btn-hover);
}

/* Search function table */

#fullscreen-wrapper .input-group {
    padding: 0 .2rem 0 .8rem;
    background-color: #fff3;
    border-radius: .3rem;

    transition: .2s;
}

#fullscreen-wrapper .input-group:hover {
    background-color: #fff9;
    box-shadow: 0 .1rem .4rem #0002;
}

#fullscreen-wrapper .input-group:hover i {
    color: var(--theme-color);
}

#fullscreen-wrapper .input-group input {
    background-color: transparent;
    border: none;
    outline: none;
}

/* Search function table */
