<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block head %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

  <script defer src="js/bootstrap.bundle.min.js"></script>
  <script defer src="js/script.js"></script>
  
</head>

<body>
  <div class="wrapper">
    <aside id="sidebar">
      <div class="d-flex">
        <button id="toggle-btn" type="button">
          <i class="bi bi-grid-1x2-fill"></i>
        </button>
        <div class="sidebar-logo">
          <p>Utilities</p>
        </div>
      </div>

      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a href="/" class="sidebar-link">
            <i class="bi bi-cast"></i>
            <span>Live</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="ftu_log" class="sidebar-link">
            <i class="bi bi-braces"></i>
            <span>Function Test Logs</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="rburn_log" class="sidebar-link">
            <i class="bi bi-code-square"></i>
            <span>Rack Burn Logs</span>
          </a>
        </li>
      </ul>
    </aside>


    {% block body %}

    {% endblock %}
  </div><!-- Wrapper End -->

</body>

</html>