<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{% block header %}{% endblock %}</title>
    <link rel='shortcut icon' href='images/smc.png' type='image/x-icon'>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-icons.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-table.min.css" type="text/css">
    <script defer src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
  </head>
  
  <body>
    <div class="wrapper">
      <aside id="sidebar">
        <div class="d-flex">
          <button id="toggle-btn" type="button">
            <i class="bi bi-grid-1x2-fill"></i>
          </button>
          <div class="sidebar-logo">
            <p>Utilities</p>
          </div>
        </div>
        
        <ul class="sidebar-nav d-flex flex-column">
          <li class="sidebar-item">
            <a href="/" class="sidebar-link">
              <i class="bi bi-cast"></i>
              <span>Live</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="cburn_log" class="sidebar-link">
              <i class="bi bi-fire"></i>
              <span>Cburn Status</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="tools" class="sidebar-link">
              <i class="bi bi-tools"></i>
              <span>Tools</span>
            </a>
          </li>
          <li class="sidebar-item mt-auto" id="btn-logout" {% if not tool_page %} style="display: none;" {% endif %}>
            <a href="logout" class="sidebar-link">
              <i class="bi bi-box-arrow-right"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </aside>
      
      {% block contents %}

      {% endblock %}
    </div><!-- Wrapper End -->
        
    <script defer src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/tableExport.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/bootstrap-table-export.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
  <footer>
    <div class="d-flex justify-content-between fixed-bottom px-3 pt-2 bg-custom text-white">
      <div>
        <p>&copy; {{ g.current_year }} SMC Utilities</p>
      </div>
      <div>
        Connected to {{ connected_ip }}
        <i class="bi bi-globe"></i>
      </div>
    </div>
  </footer>

</html>