<div class="d-flex flex-column m-5 justify-content-center">
    <div class="construction">
        <div class="card">
            <div class="card-header">
                <p class="fs-4 my-0 py-0">UNDER DEVELOPMENT!</p>
            </div>
            <div class="card-body">
                <img src="/images/helmet.gif">
            </div>
            <div class="card-footer">
                <p class="fs-6 my-0 py-0">WE WILL BE BACK SOON.</p>
            </div>
        </div>
        
    </div>
</div>