<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bg-custom-grayblue pb-1">
                <div class="d-flex justify-content-between">
                    <div class="h6">
                        <div>
                            <i class="bi bi-collection-fill fs-small"></i>
                            <span>FIRMWARE UPDATE</span>
                        </div>
                    </div>
                    <!-- <div class="d-flex mb-2">
                        <i class="bi bi-exclamation-triangle fs-small" data-bs-toggle="tooltip" data-bs-placement="left" title="WARNING MESSAGE!"></i>
                    </div> -->
                </div>
            </div>
            <div class="card-body my-3"> <!-- body -->
                <div class="row">
                    <div class="row text-center m-0 p-0">
                        <div class="col-12 col-xl-7 col-lg-7 col-md-12 col-sm-12">
                            <div class="col-12 d-flex flex-column flex-md-row mb-2">
                                <div class="flex-grow-1 d-grid gap-2 mb-2">
                                    <input type="text" id="inputSerialNum" class="form-control" placeholder="System serial number/s...">
                                </div>
                                <div id="custom-btn" class="d-grid gap-2 mb-2 ms-md-2 ms-lg-2 ms-xl-2">
                                    <!-- Button trigger modal -->
                                    <button type="button" id="custom-btn" class="btn"
                                        data-bs-toggle="modal" data-bs-target="#multi-input">
                                        <i class="bi bi-three-dots"></i>
                                    </button>

                                    <!-- Modal: Bulk input -->
                                    <div class="modal fade" id="multi-input"
                                        data-bs-backdrop="static" data-bs-keyboard="false"
                                        tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                    </button>
                                                    <textarea id="secondary-textbox"
                                                        class="form-control"
                                                        style="min-width: 100%; resize: none;"
                                                        rows="12"
                                                        placeholder="Place data line by line.">
                                                    </textarea>
                                                    <button type="reset" id="custom-btn"
                                                        class="btn">Reset</button>
                                                    <button type="button" class="btn bg-custom-grayblue"
                                                        data-bs-dismiss="modal"
                                                        onclick="passData()">Insert</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="custom-btn" class="d-grid gap-2 mb-2 ms-md-2 ms-lg-2 ms-xl-2">
                                    <button type="button" class="btn text-white" style="min-width: 100px;" onclick="updateTable()">
                                        <i class="bi bi-plus-circle"></i>
                                        <span>Add</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-column flex-md-row mb-2">
                                <div class="d-grid gap-2 mb-2">
                                    <select class="form-select form-control w-auto" aria-label="Firmware type"> <!-- Make this width fix contents -->
                                        <option selected value="1">BIOS</option>
                                        <option value="2">IPMI</option>
                                        <option value="3">CPLD</option>
                                        <option value="4">GPU</option>
                                    </select>
                                </div>
                                <div class="flex-grow-1 d-grid gap-2 mb-2 mx-md-2 mx-lg-2 mx-xl-2">
                                    <input type="file" class="form-control" id="choose-fw" name="filename" >
                                </div>
                                <div id="custom-btn" class="d-grid gap-2 mb-2">
                                    <button type="button" class="btn text-white" style="min-width: 150px;" id="upload-fw">
                                        <i class="bi bi-arrow-down-circle"></i>
                                        <span>Upload</span>
                                    </button>
                                </div>
                                <!-- loading button -->
                                <div id="custom-btn" class="d-none d-grid gap-2 mb-2">
                                    <button type="button" class="btn text-white" style="min-width: 150px;" id="upload-fw">
                                        <div class="spinner-border spinner-border-sm text-light" role="status"></div>
                                        <span>Uploading...</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                            <div class="card bg-light">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <i class="bi bi-exclamation-triangle fs-small"></i>
                                            <span>DETAIL INFO</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-body text-start">
                                    <p>Here will be the detail information about the update progress... </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-5">
            <div class="card-header bg-custom-grayblue"></div>
            <div>
                <progress class="progress-bar custom-progress-bar" value="90" min="0" max="100"></progress>
            </div>

            <div class="card-body">
                <div class="row">
                    <table class="table table-striped text-center">
                        <thead class="tool-header">
                            <tr>
                                <th>#</th>
                                <th><i class="bi bi-exclamation-square"></i>IP</th>
                                <th data-sortable="true"><i class="bi bi-upc"></i>SERIAL NUMBER</th>
                                <th data-sortable="true"><i class="bi bi-activity"></i>PROGRESS</th>
                                <th><i class="bi bi-file-lock2"></i>CURRENT FIRMWARE</th>
                                <th><i class="bi bi-question-square"></i>STATUS</th>
                                <th><i class="bi bi-check-all"></i>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="dynamicTable">
                            <!-- Rows will be added here dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer src="js/script.js"></script>