<div class="row">
    <div class="col">
        <form>
            <div class="card special-card mb-2">
                <div class="card-header bg-custom-grayblue pb-1">
                    <div class="d-flex justify-content-between">
                        <div class="h6">
                            <div>
                                <i class="bi bi-collection-fill fs-small"></i>
                                <span>FIRMWARE UPDATE</span>
                            </div>
                        </div>
                        <!-- <div class="d-flex mb-2">
                            <i class="bi bi-exclamation-triangle fs-small" data-bs-toggle="tooltip" data-bs-placement="left" title="WARNING MESSAGE!"></i>
                        </div> -->
                    </div>
                </div>
                <div class="card-body my-3"> <!-- body -->
                    <div class="row">
                        <div class="row m-0 p-0">
                            <div class="col-12 col-xl-7 col-lg-7 col-md-12 col-sm-12">
                                <div class="col-12 d-flex flex-column flex-md-row mb-2">
                                    <div class="flex-grow-1 d-grid gap-2 mb-2">
                                        <input type="text" id="serial-number-input" class="form-control" placeholder="Insert system serial number/s...">
                                    </div>
                                    <div id="custom-btn" class="d-grid gap-2 mb-2 ms-md-2 ms-lg-2 ms-xl-2">
                                        <!-- Button trigger modal -->
                                        <button type="button" id="custom-btn" class="btn"
                                            data-bs-toggle="modal" data-bs-target="#multi-input-modal">
                                            <i class="bi bi-three-dots"></i>
                                        </button>

                                        <!-- Modal: Bulk input -->
                                        <div class="modal fade" id="multi-input-modal"
                                            data-bs-backdrop="static" data-bs-keyboard="false"
                                            tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h6 class="modal-title text-dark" id="staticBackdropLabel">Bulk Input</h6>
                                                        <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <textarea id="multi-serial-number-input"
                                                            class="form-control"
                                                            style="min-width: 100%; resize: none;"
                                                            rows="12"
                                                            placeholder="Place data line by line."></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="reset" id="custom-btn"
                                                            class="btn">Reset</button>
                                                        <button type="button" class="btn btn-primary"
                                                            data-bs-dismiss="modal"
                                                            onclick="passData('serial-number-input', 'multi-serial-number-input')">Insert</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="custom-btn" class="d-grid gap-2 mb-2 ms-md-2 ms-lg-2 ms-xl-2">
                                        <button type="button" class="btn text-white" style="min-width: 100px;" onclick="updateTable('serial-number-input')">
                                            <i class="bi bi-plus-circle"></i>
                                            <span>Add</span>
                                        </button>
                                    </div>
                                </div>

                                <!-- Firmware Upload Control -->
                                <div class="col-12 d-flex flex-column flex-md-row mb-2">
                                    <div class="d-grid gap-2 mb-2">
                                        <select id="select-fw" class="form-select form-control w-auto" name="selected-fw-type" aria-label="Firmware type">
                                            <option selected value="Bios">BIOS</option>
                                            <option value="Bmc">BMC</option>
                                            <option value="Cpld">CPLD</option>
                                        </select>
                                    </div>
                                    
                                    <div class="flex-grow-1 d-grid gap-2 mb-2 mx-md-2 mx-lg-2 mx-xl-2">
                                        <select class="form-select" id="selected-firmware" name="selected-firmware">
                                            <option value="" selected>Select firmware to perform update.</option>
                                        </select>
                                    </div>
                                    <div class="flex-grow-1 d-grid gap-2 mb-2 mx-md-2 mx-lg-2 mx-xl-2 d-none">
                                        <input type="file" class="form-control" id="choose-fw" name="filename">
                                    </div>
                                    
                                    <div id="custom-btn" class="d-grid gap-2 mb-2">
                                        <button type="button" class="btn text-white" style="min-width: 150px;" id="btn-lock-fw" disabled>
                                            <span>Lock</span>
                                        </button>
                                    </div>
                                    <div id="custom-btn" class="d-grid gap-2 mb-2 d-none">
                                        <button type="button" class="btn text-white" style="min-width: 150px;" id="btn-upload-fw">
                                            <i class="bi bi-arrow-down-circle"></i>
                                            <span>Upload</span>
                                        </button>
                                    </div>
                                    <!-- loading button -->
                                    <div id="custom-btn" class="d-grid gap-2 mb-2">
                                        <button type="button" class="btn text-white d-none" style="min-width: 150px;" id="uploading-fw">
                                            <div class="spinner-border spinner-border-sm text-light" role="status"></div>
                                            <span>Uploading...</span>
                                        </button>
                                    </div>
                                </div>
                                
                                <!-- Switch to firmware upload -->
                                <div class="form-check form-switch mb-3">
                                    <label class="form-check-label" for="switch-firmware-upload">Firmware Upload</label>
                                    <input class="form-check-input" type="checkbox" role="switch" id="switch-firmware-upload" onchange="toggleFirmwareUpload()">
                                </div>

                                <div class="col-12 mb-2 text-center" id="alert-element"></div> <!-- Alert message will be displayed here -->
                                <!-- Progress Bar -->
                                <div id="progress-upload-wrapper" class="progress d-none">
                                    <div class="progress-bar progress-upload" 
                                    role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                                <div class="card bg-light">
                                    <div class="card-header">
                                        <div class="float-start">
                                            <div>
                                                <i class="bi bi-exclamation-triangle fs-small text-danger"></i>
                                                <span id="info-sec">READ ME</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body text-start align-middle" id="firmware-details">
                                        <div class="row row-cols-1 row-cols-md-3 g-2">
                                            <div class="col">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h6 class="card-title">STEP 1</h6>
                                                        <p class="card-text text-wrap">Select firmware for update.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h6 class="card-title">STEP 2</h6>
                                                        <p class="card-text text-wrap">No firmware found? Toggle the switch to upload one.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h6 class="card-title">STEP 3</h6>
                                                        <p class="card-text text-wrap">Select, match, upload the desired firmware, then lock it.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-grid d-flex justify-content-end my-0 mx-0 align-items-center">
            <div id="open-control" data-bs-toggle="collapse" data-bs-target="#collapse-control" 
                aria-expanded="false">
                <i class="bi bi-caret-left-fill fs-2 text-dark-emphasis"></i>
            </div>
            <div class="collapse collapse-horizontal" id="collapse-control">
                <div id="floating-action" class="d-flex flex-row gap-2">
                    <button type="button" class="btn disabled" id="btn-update">Update</button>
                    <button type="button" class="btn disabled" id="btn-delete-row">Delete</button>
                    <button type="button" class="btn disabled" id="btn-retry">Retry</button>
                    <button type="button" class="btn disabled" id="btn-uid">UID</button>
                </div>
            </div>
            <div id="close-control" class="d-none" data-bs-toggle="collapse" data-bs-target="#collapse-control" 
                aria-expanded="false">
                <i class="bi bi-caret-right-fill fs-2 text-dark-emphasis"></i>
            </div>
        </div>
        <div class="card special-card mt-2">
            <div id="custom-progress-bar" class="progress d-none">
                <div class="progress-bar custom-pb" 
                role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="card-header bg-custom-grayblue"></div>

            <div class="card-body">
                <div class="row">
                    <table class="table table-light table-hover text-center">
                        <thead class="tool-header table-secondary">
                            <tr>
                                <th>#</th>
                                <th><i class="bi bi-exclamation-square"></i>IP</th>
                                <th><i class="bi bi-upc"></i>SERIAL NUMBER</th>
                                <th><i class="bi bi-incognito"></i>IPMI PSWD</th>
                                <th><i class="bi bi-layers-half"></i>MBD</th>
                                <th><i class="bi bi-activity"></i>PROGRESS</th>
                                <th><i class="bi bi-file-lock2"></i>TASK</th>
                                <th><i class="bi bi-question-square"></i>STATUS</th>
                                <th>
                                    <input class="form-check-input" type="checkbox" value="" id="select-all-checkbox" disabled>
                                    ACTION
                                </th>
                            </tr>
                        </thead>
                        <tbody id="dynamicTable">
                            <!-- Rows will be added here dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
