{% extends "base.html" %}

{% block head %} Functional Test Logs {% endblock %}

{% block body %}

<div class="main">
    <main>
        <div class="container-fluid p-4">
            <h3 class="mb-5">Functional Test Logs</h3>
            <div class="row mb-3">
                {% include "input_form.html" %}
            </div>

            <div class="card mb-4">
                <div class="table-wrapper">
                    {% if not data %}
                        {% include "nodata.html" %}
                    {% else %}
                    <!-- {% include "construction.html" %} -->
                    <table data-toggle="table"
                        data-show-columns="true"
                        data-search="true"
                        data-show-export="true">
                        <thead>
                            <tr>
                                <th data-sortable="true">Serial Number</th>
                                <th data-sortable="true">MO</th>
                                <th data-sortable="true">ORD</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data.items() %}
                            <tr>
                                <td>{{i[0]}}</td>
                                <td>{{i[1][0]}}</td>
                                <td>{{i[1][1]}}</td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div><!-- Container Fluid End -->
    </main>
</div>

{% endblock %}
