{% extends "base.html" %}
{% set index_page = True %}  <!-- setting button to display only on the index.html -->
{% block head %} Rack Burn Live {% endblock %}

{% block body %}

<div class="main">
    <main>
        <div class="container-fluid p-4">
            <h3 class="mb-5">Rack Burn Live</h3>
            <div class="row mb-3 d-flex flex-row justify-content-start">
                {% include "input_form.html" %}
            </div>

            <div id="fullscreen-wrapper" class="card mb-4">
                <div class="card-header bg-custom text-white">  <!-- Table header -->
                    <div class="d-inline-flex justify-content-start">
                        <div class="px-2 d-inline-flex">
                            <div><i class="bi bi-cast blink text-warning"></i></div>
                            <div class="m-auto">LIVE</div>
                        </div>
                    </div>
                    <div class="d-inline-flex float-end justify-content-between align-items-center gap-3">
                        <!-- <div class="my-auto mx-3"><i class="bi bi-hdd-rack"></i>
                            {{data|length}}
                        </div> -->
                        <div class="input-group d-flex justify-content-center align-items-center">
                            <input type="search" placeholder="Search...">
                            <i class="bi bi-search"></i>
                        </div>
                        <div>
                            <button class="full-screen py-0">
                                <i class="bi bi-arrows-fullscreen full-screen--open text-white p-0"></i>
                                <i class="bi bi-fullscreen-exit full-screen--close text-white p-0"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-wrapper">
                        {% if not data %}
                            {% include "nodata.html" %}
                        {% else %}
                        <table class="table table-hover table-striped">
                            <thead class="sticky-top table-secondary">
                                <tr>
                                    {% for head in headings %}
                                        {% if head == headings[0] %}
                                            <th scope="col"><i class="bi bi-geo-alt-fill"></i>{{ head }}</th>
                                        {% elif head == headings[1] %}
                                            <th scope="col"><i class="bi bi-upc"></i>{{ head }}</th>
                                        {% elif head == headings[2] %}
                                            <th scope="col"><i class="bi bi-info-square-fill"></i>{{ head }}</th>
                                        {% elif head == headings[3] %}
                                            <th scope="col"><i class="bi bi-hdd-rack"></i>{{ head }}</th>
                                        {% elif head == headings[4] %}
                                            <th scope="col"><i class="bi bi-stopwatch-fill"></i>{{ head }}</th>
                                        {% else %}
                                            <th scope="col"><i class="bi bi-journal-code"></i>{{ head }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody id="data-table">
                                <!-- Data is inserted using JS -->
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div><!-- Row End -->
        </div><!-- Container Fluid End -->
    </main>
</div>

<script>

    /**
    *************************************
    * Live data table based on the input.
    *************************************
    **/

    // Assign variables global
    let b23rburn, cond, intervalId;
    let intervalTime = document.getElementById('update-interval').value * 1000;  // Default: 60 seconds
    let rackServer = `http://${document.getElementById("rackServer").value}`;
    
    // Pass data from the backend 
    document.addEventListener("DOMContentLoaded", function() {
        fetch("/get_data")
        .then(response => response.json())
        .then(data_helper => {
            b23rburn = data_helper.b23rburn;
            cond = data_helper.cond
        })
        .catch(error => console.error("Error fetching data_helper: ", error.message))
    });

    // Update and display the data based on the conditions
    async function fetchData() {
        try {
            const response = await fetch("/update");
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            const data = await response.json();
            const tableBody = document.getElementById("data-table");
            
            // Check if data is empty before clearing
            if (data.length === 0) {
                console.log("No data to display.");
                return;
            }
            
            // Clear the table only if there is data
            tableBody.innerHTML = "";
            
            data.forEach(row => {
                const tableRow = document.createElement("tr");
                row.forEach((cell, index) => {
                    const tableCell = document.createElement("td");

                    // Check which column index
                    if (index === 2) { // Column 2: Display condition badges
                        if (cell === cond[0]) { // Warning
                            tableCell.innerHTML = `
                                <span class="badge status warning text-dark">
                                    <a class="text-decoration-none" 
                                    href="${rackServer}${row[5]}/Failure-Records-Full.txt" target="_blank">${cell}</a>
                                </span>
                            `;
                        } else if (cell === cond[1]) { // Fail
                            tableCell.innerHTML = `
                                <span class="badge status fail">
                                    <a class="text-decoration-none" 
                                    href="${rackServer}${row[5]}/Failure-Records-Full.txt" target="_blank">${cell}</a>
                                </span>
                            `;
                        } else if (cell === cond[2]) { // Pass
                            tableCell.innerHTML = `
                                <span class="badge status pass">${cell}</span>
                            `;
                        } else { // Default case -- Running
                            tableCell.innerHTML = `
                                <span class="badge status running">${cell}</span>
                            `;
                        }
                    } else if (index === 3) { // Column 3: Attach rack links
                        tableCell.innerHTML = `
                            <span>
                                <a href="${rackServer}/monitor/Supermicro/${cell}" target="_blank">
                                    ${cell}<i class="bi bi-link-45deg"></i>
                                </a>
                            </span>
                        `;
                    } else if (index === 5) { // Column 5: Attach log links
                        tableCell.innerHTML = `
                            <span>
                                <a href="${rackServer}${cell}" target="_blank"><i class="bi bi-file-text-fill"></i></a>
                            </span>
                        `;
                    } else { // Default case: Just display the cell value
                        tableCell.textContent = cell;
                    }

                    // Append the created cell to the current row
                    tableRow.appendChild(tableCell);
                });

                // Append the created row to the tbody
                tableBody.appendChild(tableRow);

            });
        } catch (error) {
            console.error("Error fetching data: ", error.message);
        }
    }

    
    function startFetching() {
        if (intervalId) {
            clearInterval(intervalId); // Clear the existing interval if it exists
        }
        fetchData();
        intervalId = setInterval(fetchData, intervalTime);
    }
     
    window.addEventListener('load', startFetching);

    /**
    *************************************
    * Full screen data table
    *************************************
    **/
    const fullscreenWrapper = document.getElementById("fullscreen-wrapper");
    const fullscreenButton = document.querySelector(".full-screen");

    fullscreenButton.addEventListener("click", () => {
        if (document.fullscreenElement) {
            document
                .exitFullscreen()
                .then(() => fullscreenButton.classList.remove("is-active"));
        } else {
            if (fullscreenWrapper.webkitSupportsFullscreen) {
                fullscreenWrapper
                    .webkitEnterFullscreen()
                    .then(() => fullscreenButton.classList.add("is-active"));
            } else {
                fullscreenWrapper
                    .requestFullscreen()
                    .then(() => fullscreenButton.classList.add("is-active"));
            }
        }
    });

</script>

{% endblock %}