 <div class="col-xl-6">
    <form class="row" action method="POST">
        <div class="col-md-8 col-sm-12 mb-2">
            <input type="text" id="primary-textbox" class="form-control"
                placeholder="Insert system serial number/s."
                name="serial_num">
        </div>
        <div class="col-md-4 col-sm-12 d-grid gap-2 d-md-block mb-2">
            <!-- Button trigger modal -->
            <button type="button" id="custom-btn" class="btn"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">...</button>

            <!-- Modal: Bulk input -->
            <div class="modal fade" id="staticBackdrop"
                data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title"
                                id="staticBackdropLabel">Bulk Input
                            </h6>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea id="secondary-textbox"
                                class="form-control"
                                style="min-width: 100%; resize: none;"
                                rows="10"
                                placeholder="Place data line by line."></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" id="custom-btn"
                                class="btn">Reset</button>
                            <button type="button" class="btn btn-primary"
                                data-bs-dismiss="modal"
                                onclick="passData()">Insert</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal: Bulk input -->

            <button type="submit" class="btn btn-primary">Track</button>

            {% block button %}
            <button id="setting" type="button" class="btn btn-outline-dark"
                {% if not index_page %} style="display: none;" {% endif %}
                data-bs-toggle="offcanvas" data-bs-target="#config_setting">
                <i class="bi bi-gear-fill"></i>
            </button>

            <!--Modal: Setting -->
            <div class="offcanvas offcanvas-end" tabindex="-1"
                id="config_setting" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title"
                        id="offcanvasRightLabel">Configuration</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="offcanvas" aria-label="Close">
                    </button>
                </div>
                <div class="offcanvas-body">
                    <div class="mb-4">
                        <label for="rackServer" class="form-label">Server</label>
                        <select id="rackServer" class="form-select" aria-label="rburn-servers" name="rackServer">
                            <option selected value="40">10.43.251.40</option>
                            <option value="35">10.43.251.35</option>
                        </select>
                    </div>
                    <div>
                        <label for="refreshInterval" class="form-label">Refresh Interval (minute)</label>
                        <div class="d-flex display-inline-start gap-2">
                            <input type="range" id="refreshInterval" class="form-range" min="1" max="10" step="1" 
                            name="refreshInterval" value="1" oninput="output.value = refreshInterval.value">
                            <output id="output">1</output>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal: Setting -->

            {% endblock %}
        </div>
    </form>
</div>
