<div class="col-xl-8">
    <form class="row" method="post">
        <div class="col-md-7 col-sm-12 mb-2">
            <input type="text" id="primary-textbox" class="form-control"
                placeholder="Insert system serial number/s."
                name="serial_num">
        </div>
        <div class="col-md-5 col-sm-12 d-grid gap-2 d-md-block mb-2">
            <!-- Button trigger modal -->
            <button type="button" id="custom-btn" class="btn"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="bi bi-three-dots"></i>
            </button>

            <!-- Modal: Bulk input -->
            <div class="modal fade" id="staticBackdrop"
                data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title"
                                id="staticBackdropLabel">Bulk Input
                            </h6>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea id="secondary-textbox"
                                class="form-control"
                                style="min-width: 100%; resize: none;"
                                rows="12"
                                placeholder="Place data line by line."></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" id="custom-btn"
                                class="btn">Reset</button>
                            <button type="button" class="btn btn-primary"
                                data-bs-dismiss="modal"
                                onclick="passData()">Insert</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal: Bulk input -->

            <button type="submit" class="btn btn-primary">Track</button>

            {% block button %}
            <button id="custom-btn" type="button" class="btn"
                {% if not index_page %} style="display: none;" {% endif %}
                data-bs-toggle="offcanvas" data-bs-target="#config_setting">
                <span><i class="bi bi-gear-fill"></i></span>
            </button>

            <!--Modal: Setting -->
            <div class="offcanvas offcanvas-end" tabindex="-1"
                id="config_setting" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title"
                        id="offcanvasRightLabel">Configuration (Under Dev)</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="offcanvas" aria-label="Close">
                    </button>
                </div>
                <div class="offcanvas-body">
                    <form id="form-config">
                        <div class="mb-3">
                            <label for="rackServer" class="form-label">Server IP</label>
                            <select id="rackServer" class="form-select" aria-label="rburn-servers" name="rackServer">
                                <option selected value="10.43.251.40">10.43.251.40</option>
                                <option value="10.43.251.35">10.43.251.35</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="update-interval" class="form-label">Refresh Interval (seconds)</label>
                            <div class="d-flex display-inline-start gap-2">
                                <input type="number" class="form-control" id="update-interval" value="60" min="30" step="5" required>
                            </div>
                        </div>
                        <div id="alertPlaceholder" class="alert mb-4"></div>
                        <div class="d-grid d-md-flex position-md-absolute justify-content-md-end" id="config-btn">
                            <button type="button" onclick="updateData()" class="btn btn-primary">Update
                            <i class="bi bi-arrow-right-circle"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!--Modal: Setting -->
            {% endblock %}
        </div>
    </form>
</div>
