<div>
    {% include "input_form.html" %}
    {% if not sys_list %}
    <div class="table-wrapper">
        {% include "nodata.html" %}
    </div>
    {% else %}
    <table class="table table-striped ip-lookup-table"
        data-toggle="table"
        data-search="true"
        data-buttons-class="outline-secondary"
        data-show-export="true"
        data-show-columns="true"
        data-show-search-clear-button="true">
        <thead>
            <tr class="text-center">
                <th data-sortable="true"><i class="bi bi-upc"></i>Serial Number</th>
                <th data-sortable="true"><i class="bi bi-exclamation-square"></i>IP</th>
                <th><i class="bi bi-person-circle"></i>Login Name</th>
                <th><i class="bi bi-file-lock2"></i>BMC Password</th>
                <th>BIOS Ver.</th>
                <th>BMC Ver.</th>
            </tr>
        </thead>
        <tbody>
            {% for item in sys_list %}
            <tr class="text-center">
                <td>{{ item.system_sn }}
                    <a href="{{ sn_url + item.system_sn }}" target="_blank">
                        <i class="bi bi-link-45deg"></i></a>
                </td>
                <td>{{ item.ip_address }}
                    {% if item.ip_address != "NA" %}
                    <a href="http://{{ item.ip_address }}" target="_blank">
                        <i class="bi bi-link-45deg"></i></a>
                    {% endif %}
                </td>
                <td>{{ item.username }}</td>
                <td class="user-select-all">{{ item.password }}</td>
                <td>
                    <i class="bi bi-cloud-arrow-down getBiosVer"></i>
                    <span
                        class="spinner-border spinner-border-sm spinner mx-auto"
                        style="display: none;"></span>
                    <span class="show-bios-ver"></span>
                </td>
                <td>
                    <i class="bi bi-cloud-arrow-down getIpmiVer"></i>
                    <span
                        class="spinner-border spinner-border-sm spinner mx-auto"
                        style="display: none;"></span>
                    <span class="show-ipmi-ver"></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>

        const socket = io();

        socket.on('connected', function(data) {
            console.log('Connected user ID:', data.user_id);
        });

        // Copy selected text to clipboard
        const cells = document.querySelectorAll("td.user-select-all");
        cells.forEach(cell => {
            cell.addEventListener("click", () => {
                let selectedText = cell.textContent;
                if (selectedText) {
                    navigator.clipboard.writeText(selectedText);
                }
            });
        });

        
        // Asynchronous function to fetch system IPMI info
        let cachedSysIpmiInfo = null;
        async function getsysIpmiInfo() {
            if (cachedSysIpmiInfo) {
                return cachedSysIpmiInfo;
            }
            try {
                const response = await fetch("/get_sys_ipmi_info");
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                cachedSysIpmiInfo = await response.json();
                return cachedSysIpmiInfo;
            } catch (error) {
                console.error('Error fetching IP list:', error);
            }
        }


        document.addEventListener("DOMContentLoaded", function() {
            document.querySelector(".ip-lookup-table").addEventListener('click', async function(event) {
                const target = event.target;
                if (target.classList.contains("getBiosVer") || target.classList.contains("getIpmiVer")) {
                    const row = target.closest("tr");
                    const col = target.closest("td");
                    const spinner = col.querySelector(".spinner");
                    const versionSpan = target.classList.contains("getBiosVer") ? row.querySelector(".show-bios-ver") : row.querySelector(".show-ipmi-ver");
                    const url = target.classList.contains("getBiosVer") ? "/get_bios_ver" : "/get_ipmi_ver";
                    var sysIpmiInfo = await getsysIpmiInfo();   // Get IP list from session data

                    // Get the row index
                    const rowIndex = Array.from(row.parentElement.children).indexOf(row);
                    
                    spinner.style.display = "block";
                    target.style.display = "none";
                    versionSpan.textContent = "";
                    
                    fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            ip_address: sysIpmiInfo[rowIndex].ip_address,
                            username: sysIpmiInfo[rowIndex].username,
                            password: sysIpmiInfo[rowIndex].password
                        })
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            //console.log(data);
                            spinner.style.display = "none";
                            versionSpan.textContent = data;
                        });
                }
            });
        });

    </script>

    {% endif %}
</div>
