<div>
    {% include "input_form.html" %}
    {% if not ip_list %}
    <div class="table-wrapper">
        {% include "nodata.html" %}
    </div>
    {% else %}
    <table class="table table-striped"
        data-toggle="table"
        data-search="true"
        data-buttons-class="outline-secondary"
        data-show-export="true"
        data-show-columns="true"
        data-show-search-clear-button="true">
        <thead>
            <tr class="text-center">
                <th data-sortable="true">Serial Number</th>
                <th data-sortable="true">IP</th>
                <th>Login Name</th>
                <th>BMC Password</th>
                <th>BIOS Ver.</th>
                <th>BMC Ver.</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ip_list %}
            <tr class="text-center">
                <td>{{ item["system_sn"] }}</td>
                <td>{{ item["ip_address"] }}
                    {% if item["ip_address"] != "NA" %}
                    <a href="http://{{ item['ip_address'] }}" target="_blank">
                        <i class="bi bi-link-45deg"></i></a>
                    {% endif %}
                </td>
                <td>{{ item["username"] }}</td>
                <td class="user-select-all">{{ item["password"] }}</td>
                <td>
                    <i class="bi bi-cloud-arrow-down icon-btn" onclick="getBiosVer()"></i>
                    <div class="spinner-border spinner-border-sm bios-spinner" role="status"></div>
                    <span id="get-bios-ver"></span>
                </td>
                <td id="get-ipmi-ver"><i class="bi bi-cloud-arrow-down icon-btn" onclick="getIpmiVer()"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
