{% extends "base.html" %}

{% block head %} Log In {% endblock %}

{% block body %}

<div class="main">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 m-auto">
                <div class="card border-0 shadow p-3">
                    <div class="card-body text-center pt-0">
                        <i class="bi bi-person-circle fs-1"></i>
                        <form action="" method="post">
                            <div id="div-login-user">
                                <select class="form-select my-3 py-2" id="input-login-user" name="input-login-user">
                                    <option value="" selected>Select</option>
                                    <option value="pyaem@supermicro.com">pyaem@supermicro.com</option>
                                    <option value="user1@supermicro.com">user1@supermicro.com</option>
                                    <option value="user2@supermicro.com">user2@supermicro.com</option>
                                </select>
                                <div id="alert-element"></div> <!-- Alert message will be displayed here -->
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary mt-3" id="btn-login-continue">Continue</button>
                                </div>
                            </div>
                            <div id="div-login-passwd" class="d-none">
                                <label for="input-login-user" class="form-label fs-5" id="welcome-user"></label>
                                <input type="password" class="form-control my-3 py-2" id="input-login-passwd" name="input-login-passwd" placeholder="Password">
                                <div class="col-12 m-2" id="alert-element"></div> <!-- Alert message will be displayed here -->
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-3" id="btn-login-proceed">Log In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    let alertElement = document.getElementById("alert-element");
    let divLoginUser = document.getElementById("div-login-user");
    let inputLoginUser = document.getElementById("input-login-user");
    let btnLoginContinue = document.getElementById("btn-login-continue");
    let divLoginPasswd = document.getElementById("div-login-passwd");
    let inputLoginPasswd = document.getElementById("input-login-passwd");
    let btnLoginProceed = document.getElementById("btn-login-proceed");
    let welcomeUser = document.getElementById("welcome-user");

    if (btnLoginContinue) {
        btnLoginContinue.addEventListener("click", function() {
            if (inputLoginUser.value) {
                welcomeUser.innerHTML = `Logging in as ${inputLoginUser.value}`;
                divLoginUser.classList.add("d-none");
                divLoginPasswd.classList.remove("d-none");
                inputLoginPasswd.focus();
            } else {
                showAlert("Select a user to continue.", "warning", "bi-info-circle");
            }
        });
    }


    // Show alert message
    function showAlert(alertMessage, alertType, icon) {
        alertElement.innerHTML = `
            <div class="alert alert-${alertType} alert-dismissible fade show" role="alert">
                <i class="bi ${icon}"></i>
                <span>${alertMessage}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>`;
    }


    // Dismiss alert message
    function dismissAlert() {
        alertElement.innerHTML = "";
    }

</script>

{% endblock %}
