{% extends "base.html" %}
{% set tool_page = True %}
<!-- setting button to display only on the tools.html -->
{% block header %} Tools {% endblock %}

{% block contents %}
<div class="main">
    <main>
        <div class="container-fluid p-4">
            <div class="d-flex justify-content-between mb-4">
                <h3 class="mb-xl-1 mb-lg-1 mb-4">Tools</h3>
                <span>{{ current_user.username }}</span>
            </div>
            <div class="row mb-3 d-flex flex-row ">
                <div class="row mb-3">
                    <ul class="nav nav-tabs justify-content-end">
                        <!-- IP LOOKUP -->
                        <li class="nav-item">
                            <button class="nav-link active" id="ip-lookup"
                                data-bs-toggle="tab"
                                data-bs-target="#ip-lookup-pane"
                                type="button" role="tab"
                                aria-controls="ip-lookup"
                                aria-selected="true">
                                <i class="bi bi-search px-2 fs-6"></i>IP LOOKUP</button>
                        </li>
                        <!-- IPMITOOL -->
                        <li class="nav-item">
                            <button class="nav-link" id="firmware-update"
                                data-bs-toggle="tab"
                                data-bs-target="#firmware-update-pane"
                                type="button" role="tab"
                                aria-controls="firmware-update"
                                aria-selected="true">
                                <i class="bi bi-app-indicator px-2 fs-6"></i>ADDONS</button>
                        </li>
                    </ul>
                </div>
                <div class="row"> <!-- contents -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active"
                            id="ip-lookup-pane"
                            role="tabpanel" aria-labelledby="ip-lookup"
                            tabindex="0">
                            {% include "ip_lookup.html" %}
                        </div>
                        <div class="tab-pane fade" id="firmware-update-pane"
                            role="tabpanel"
                            aria-labelledby="firmware-update" tabindex="0">
                            {% include "firmware_update.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Container Fluid End -->
    </main>
</div>

{% endblock %} <!-- End of contents -->

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/tools.js') }}"></script>


{% endblock %} <!-- End of scripts -->
