{% extends "base.html" %}
{% set tool_page = True %}
<!-- setting button to display only on the tools.html -->
{% block head %} Tools {% endblock %}

{% block body %}
<div class="main">
    <main>
        <div class="container-fluid p-4">
            <h3 class="mb-5">Tools</h3>
            <div class="row mb-3 d-flex flex-row justify-content-start">
                <div class="row mb-3">
                    <ul class="nav nav-tabs nav-fill">
                        <li class="nav-item">
                            <button class="nav-link active" id="ip-lookup"
                                data-bs-toggle="tab"
                                data-bs-target="#ip-lookup-pane"
                                type="button" role="tab"
                                aria-controls="ip-lookup"
                                aria-selected="true">IP LOOKUP</button>
                        </li>
                        <li class="nav-item drop-down">
                            <button class="nav-link dropdown-toggle"
                                id="sum-tool"
                                data-bs-toggle="dropdown"
                                type="button" role="button"
                                aria-controls="ip-lookup"
                                aria-selected="true">SUM TOOL</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item"
                                        href="#">BIOS</a></li>
                                <li><a class="dropdown-item"
                                        href="#">IPMI</a></li>
                                <li><a class="dropdown-item"
                                        href="#">CPLD</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item"
                                        href="#">GPU</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="ipmi-tool"
                                data-bs-toggle="tab"
                                data-bs-target="#ipmi-tool-pane"
                                type="button" role="tab"
                                aria-controls="ipmi-tool"
                                aria-selected="true">IPMI TOOL</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="misc"
                                data-bs-toggle="tab"
                                data-bs-target="#misc-pane"
                                type="button" role="tab"
                                aria-controls="misc"
                                aria-selected="true">MISCELLANEOUS</button>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-body tab-content">
                        <div class="tab-content">
                            <div class="tab-pane fade show active"
                                id="ip-lookup-pane"
                                role="tabpanel" aria-labelledby="ip-lookup"
                                tabindex="0">IP LOOKUP</div>
                            <div class="tab-pane fade" id="ipmi-tool-pane"
                                role="tabpanel"
                                aria-labelledby="ipmi-tool" tabindex="0">IPMI
                                TOOL</div>
                            <div class="tab-pane fade" id="misc-pane"
                                role="tabpanel" aria-labelledby="misc"
                                tabindex="0">MISCELLANEOUS</div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- <div class="card mb-4">
                <div class="table-wrapper">
                    {% include "construction.html" %}
                </div>
            </div> -->

        </div><!-- Container Fluid End -->
    </main>
</div>
{% endblock %}