{% extends "base.html" %}
{% set tool_page = True %}
<!-- setting button to display only on the tools.html -->
{% block head %} Tools {% endblock %}

{% block body %}
<div class="main">
    <main>
        <div class="container-fluid p-4">
            <div class="d-flex justify-content-between mb-4">
                <h3 class="mb-xl-1 mb-lg-1 mb-4">Tools</h3>
                <span>{{ current_user.username }}</span>
            </div>
            <div class="row mb-3 d-flex flex-row ">
                <div class="row mb-3">
                    <ul class="nav nav-tabs justify-content-end">
                        <!-- IP LOOKUP -->
                        <li class="nav-item">
                            <button class="nav-link active" id="ip-lookup"
                                data-bs-toggle="tab"
                                data-bs-target="#ip-lookup-pane"
                                type="button" role="tab"
                                aria-controls="ip-lookup"
                                aria-selected="true">
                                <i class="bi bi-search px-2"></i>IP LOOKUP</button>
                        </li>
                        <!-- SUMTOOL -->
                        <li class="nav-item drop-down">
                            <button class="nav-link dropdown-toggle"
                                id="sum-tool"
                                data-bs-toggle="dropdown"
                                type="button" role="button"
                                aria-controls="ip-lookup"
                                aria-selected="true">
                                <i class="bi bi-terminal-plus px-2"></i>SUM TOOL</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><button class="dropdown-item"
                                        data-bs-toggle="tab"
                                        data-bs-target="#bios-pane"
                                        type="button">BIOS</button></li>
                                <li><button class="dropdown-item"
                                        data-bs-toggle="tab"
                                        data-bs-target="#ipmi-pane"
                                        type="button">IPMI</button></li>
                                <li><button class="dropdown-item"
                                        data-bs-toggle="tab"
                                        data-bs-target="#cpld-pane"
                                        type="button">CPLD</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><button class="dropdown-item"
                                        data-bs-toggle="tab"
                                        data-bs-target="#gpu-pane"
                                        type="button">GPU</button></li>
                            </ul>
                        </li>
                        <!-- IPMITOOL -->
                        <li class="nav-item">
                            <button class="nav-link" id="ipmi-tool"
                                data-bs-toggle="tab"
                                data-bs-target="#firmware-update-pane"
                                type="button" role="tab"
                                aria-controls="ipmi-tool"
                                aria-selected="true">
                                <i class="bi bi-collection-fill px-2"></i>FIRMWARE UPDATE</button>
                        </li>
                        <!-- CAN ADD MORE -->
                        <li class="nav-item">
                            <button class="nav-link" id="misc"
                                data-bs-toggle="tab"
                                data-bs-target="#misc-pane"
                                type="button" role="tab"
                                aria-controls="misc-pane"
                                aria-selected="true">MISCELLANEOUS</button>
                        </li>
                    </ul>
                </div>
                <div class="row"> <!-- contents -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active"
                            id="ip-lookup-pane"
                            role="tabpanel" aria-labelledby="ip-lookup"
                            tabindex="0">
                            {% include "ip_lookup.html" %}
                        </div>
                        <!-- dropdown contents -->
                        <div class="tab-pane fade" id="bios-pane"
                            role="tabpanel"
                            aria-labelledby="bios-sum"
                            tabindex="0">
                            {% include "sum_tool.html" %}
                        </div>
                        <div class="tab-pane fade" id="ipmi-pane"
                            role="tabpanel"
                            aria-labelledby="bios-sum"
                            tabindex="0">IPMI</div>
                        <div class="tab-pane fade" id="cpld-pane"
                            role="tabpanel"
                            aria-labelledby="bios-sum"
                            tabindex="0">CPLD</div>
                        <div class="tab-pane fade" id="gpu-pane"
                            role="tabpanel"
                            aria-labelledby="bios-sum"
                            tabindex="0">GPU</div>
                        <!-- dropdown contents end -->

                        <div class="tab-pane fade" id="firmware-update-pane"
                            role="tabpanel"
                            aria-labelledby="firmware-update" tabindex="0">
                            {% include "firmware_update.html" %}
                        </div>

                        <div class="tab-pane fade" id="misc-pane"
                            role="tabpanel" aria-labelledby="misc" tabindex="0">
                            <p>HELLO WORLD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Container Fluid End -->
    </main>
</div>

<script>

    // IP Lookup page
    document.addEventListener("DOMContentLoaded", function() {
        // Socket
        const socket = io();
        socket.on('connected', function(data) {
            console.log('Connected user ID:', data);
        });

        socket.on('disconnected', function() {
            console.log('Disconnected from the server');
        });
        
        // Copy selected text to clipboard
        const table = document.querySelector(".ip-lookup-table");
        const cells = table.querySelectorAll("td.user-select-all");
        cells.forEach(cell => {
            cell.addEventListener("click", () => {
                let selectedText = cell.textContent;
                if (selectedText) {
                    navigator.clipboard.writeText(selectedText)
                    .then(() => {
                        console.log('Text copied to clipboard');
                    })
                        .catch(err => {
                            console.error('Error copying text: ', err);
                    });
                }
            });
        }); // End of copy selected text to clipboard

        
        document.querySelector(".ip-lookup-table").addEventListener('click', async function(event) {
            var sysList = {{ sys_list | safe }};  // Convert Python list to JS array
            const target = event.target;
            if (target.classList.contains("getBiosVer") || target.classList.contains("getIpmiVer")) {
                const row = target.closest("tr");
                const col = target.closest("td");
                const spinner = col.querySelector(".spinner");
                const firmwareType = target.classList.contains("getBiosVer") ? row.querySelector(".show-bios-ver") : row.querySelector(".show-ipmi-ver");
                const url = target.classList.contains("getBiosVer") ? "/get_bios_ver" : "/get_ipmi_ver";
                const rowIndex = Array.from(row.parentElement.children).indexOf(row);
                
                spinner.style.display = "block";
                target.style.display = "none";
                firmwareType.textContent = "";
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        ip_address: sysList[rowIndex].ip_address,
                        username: sysList[rowIndex].username,
                        password: sysList[rowIndex].password
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    spinner.style.display = "none";
                    firmwareType.textContent = data;
                })
            }
        });
    });
</script>

{% endblock %}
