{% extends "base.html" %}

{% block header %} Update Commands {% endblock %}

{% block contents %}

<div class="main">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 m-auto">
                <div class="card border-0 shadow p-3">
                    <ul class="nav nav-underline nav-justified justify-content-center mb-4">
                        <li class="nav-item">
                            <button class="nav-link active tab-btn" data-bs-toggle="tab" data-bs-target="#add-command" type="button" role="tab">
                                Add Command
                            </button>
                        </li>
                        <li class="nav-item">
                            <button id="tab-delete-command" class="nav-link" data-bs-toggle="tab" data-bs-target="#delete-command" type="button" role="tab">
                                Delete Command
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content card-body text-center pt-0">
                        <!-- Add Command -->
                        <div class="tab-pane fade show active"
                            id="add-command" role="tabpanel" aria-labelledby="ip-lookup" tabindex="0">
                            
                            <div class="d-flex justify-content-center gap-2 mb-3">
                                <input type="radio" id="ipmitool" name="tool" value="ipmi" checked>
                                <label for="ipmitool">IPMI Tool</label>
                                <input type="radio" id="sumtool" name="tool" value="sum">
                                <label for="ipmitool">SUM Tool</label>
                            </div>

                            <input type="text" class="form-control" id="cmd-name" placeholder="Name your command...">
                            <div id="add-argument" class="d-flex flex-column flex-md-row my-3 gap-2">
                                <input type="text" class="form-control mb-2 mb-md-0" placeholder="-c">
                                <input type="text" class="form-control mb-2 mb-md-0" placeholder="GetBiosInfo">
                                <button id="btn-add-cmd" class="custom-btn" style="background: none; border: none; cursor: pointer; outline: none;">
                                    <i class="bi bi-plus-circle-fill fs-4"></i>
                                </button>
                            </div>
                            <div id="example-cmd"></div>
                            <div class="d-grid gap-2 mt-4 m-auto">
                                <div class="d-flex justify-content-center gap-2">
                                    <button class="btn btn-dark" onclick="addCommand()">Add</button>
                                    <button class="btn btn-outline-dark" onclick="resetInput()">Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="delete-command" role="tabpanel" aria-labelledby="ip-lookup" tabindex="0">
                            <div class="d-flex justify-content-center gap-2 mb-3">
                                <button type="button" class="btn btn-secondary text-white" id="btn-refresh2" onclick="listCommands(selectedCmd)">
                                    <i class="bi bi-arrow-clockwise fs-5"></i>
                                </button>
                                <select class="form-select" id="selected-command-2" name="selected-command-2">
                                    <option value="" selected>Select a command to delete</option>
                                </select>
                            </div>
                            <div class="d-grid gap-2 mt-4 m-auto">
                                <div class="d-flex justify-content-center gap-2">
                                    <button class="btn btn-dark" onclick="deleteCommand()">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}

{% block scripts %}

<script>
    const btnAddCmd = document.getElementById('btn-add-cmd');
    const addArgument = document.getElementById('add-argument');
    const exampleCmd = document.getElementById('example-cmd');
    let selectedCmd = document.getElementById('selected-command-2');
    let toolRadios = document.querySelectorAll('input[name="tool"]');
    
    
    // Add each input value to the command 
    function updateExampleCmd() {
        let inputs = addArgument.querySelectorAll('input');
        let selectedTool = toolRadios[0].checked ? 'ipmitool' : 'sum';
        const preDefinedText = `Example: ${selectedTool} -U ADMIN -P PASSWORD `;

        let cmdText = '';
        inputs.forEach(input => {
            if (input.value.trim() !== '') {
                cmdText += input.value.replace(/\s+/g, '') + ' '; // Remove spaces -- making sure one textbox per argument
            }
        });
        // showing the command example per user input
        exampleCmd.textContent = preDefinedText + cmdText.trim();
    }

    // Add event listener to add command button
    btnAddCmd.addEventListener('click', function() {
        let inputCount = addArgument.childElementCount - 2;
        if (inputCount > 6) {
            alert(`Maximum of ${inputCount + 1} arguments only!`);
            return;
        }
        const newInput = document.createElement('input');
        newInput.type = 'text';
        newInput.className = 'form-control';
        newInput.placeholder = `Arg ${inputCount}`;
        newInput.addEventListener('input', updateExampleCmd);
        addArgument.insertBefore(newInput, btnAddCmd);
    });

    // Show real-time example command
    addArgument.querySelectorAll('input').forEach(input => {
        input.addEventListener('input', updateExampleCmd);
    });
    

    // Add command to the list
    function addCommand() {
        let selectedTool = toolRadios[0].checked ? 'ipmitool' : 'sum';
        let cmdName = document.getElementById('cmd-name').value;
        let cmdArgs = [];
        if (!cmdName || Array.from(addArgument.querySelectorAll('input')).some(input => input.value === '')) {
            alert('Cmd name and at least 2 arguments are required!');
            return;
        } else if (Array.from(selectedCmd.options).some(option => option.textContent === cmdName)) {
            alert('Command already exists!');
            return;
        }
        addArgument.querySelectorAll('input').forEach(input => {
            if (input.value.trim() !== '') {
                cmdArgs.push(input.value.trim());
            }
        });
        fetch('/add_command', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'tool': selectedTool,
                'cmdName': cmdName,
                'cmdArgs': cmdArgs
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.status === 'success') {
                alert('Command added successfully!');
                resetInput();
            } else {
                alert(data.status);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });

        listCommands(selectedCommand, selectedCmd);
    }


    // Delete command from the list
    function deleteCommand() {
        let cmdName = selectedCmd.options[selectedCmd.selectedIndex].textContent;
        if (!cmdName || selectedCmd.options[selectedCmd.selectedIndex].value === '') {
            alert('Please select a command to delete!');
            return;
        }
        fetch('/delete_command', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'cmdName': cmdName
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.status === 'success') {
                alert('Command deleted successfully!');
            } else {
                alert(data.status);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });

        window.location.reload();
    }


    // Reset input fields
    function resetInput() {
        document.getElementById('cmd-name').value = '';
        addArgument.querySelectorAll('input').forEach((input, index) => {
            if (index > 1) {
                input.remove();
            } else {
                input.value = '';
            }
        });
        exampleCmd.textContent = "";
    }

    // Load listCommands() function from scripts.js
    document.getElementById("tab-delete-command").addEventListener('click', function() {
        if (selectedCmd.options.length <= 1) { // Load options only if they do not exist
            listCommands(selectedCmd);
        }
    });


</script>

{% endblock %}